      <!-- Hero: Start -->
      <section id="landingHero" class="section-py landing-hero position-relative">
        <img
          src="../../assets/img/front-pages/backgrounds/hero-bg-light.png"
          alt="hero background"
          class="position-absolute top-0 start-0 w-100 h-100 z-n1"
          data-speed="1"
          data-app-light-img="front-pages/backgrounds/hero-bg-light.png"
          data-app-dark-img="front-pages/backgrounds/hero-bg-dark.png" />
        <div class="container">
          <div class="hero-text-box text-center">
            <h2 class="text-primary hero-title mb-4">All in one sass application for your business</h2>
            <h2 class="h6 mb-8 lh-md">
              No coding required to make customisations.<br />The live customiser has everything your marketing need.
            </h2>
            <a href="#landingPricing" class="btn btn-lg btn-primary">Get early access</a>
          </div>
          <div class="position-relative hero-animation-img">
            <a href="../vertical-menu-template/dashboards-crm.html" target="_blank">
              <div class="hero-dashboard-img text-center">
                <img
                  src="../../assets/img/front-pages/landing-page/hero-dashboard-light.png"
                  alt="hero dashboard"
                  class="animation-img"
                  data-speed="2"
                  data-app-light-img="front-pages/landing-page/hero-dashboard-light.png"
                  data-app-dark-img="front-pages/landing-page/hero-dashboard-dark.png" />
              </div>
              <div class="position-absolute hero-elements-img">
                <img
                  src="../../assets/img/front-pages/landing-page/hero-elements-light.png"
                  alt="hero elements"
                  class="animation-img"
                  data-speed="4"
                  data-app-light-img="front-pages/landing-page/hero-elements-light.png"
                  data-app-dark-img="front-pages/landing-page/hero-elements-dark.png" />
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- Hero: End -->